<div class="container">

  <div class="quotes-div">

    <div class="title">
      <h1>Quotes</h1>
      <%= link_to new_quote_path do%>
        <button>
          New Quote
        </button>
      <% end %>
    </div>

  <%= render @quotes %>

  </div>

</div>
